#! /bin/sh
# default unix like command {{{

alias ls='ls -G --color'
alias ll='ls -lh'
alias la='ls -a'
alias lla='ll -a'
alias lal='ll -a'
alias rm='rm -v'
alias vi='vim'
alias hist='history -i'
alias mkdir='mkdir -p'
alias grep='grep --color'
alias egrep='egrep --color'
alias diff='colordiff'
alias memory_clean='sudo purge'

# }}}

# カレンダーの現在日付のカラー
# alias cal="/usr/bin/cal | grep -C6 '`date +' %-d '`'  "

# User command {{{

alias g='git'
alias h='hub'

alias r='ruby'
alias py='python3'

alias b='bundle'
alias be='b exec'
alias gist='gist -o'
alias k='kubectl'
alias tree='tree -a -I "\.DS_Store|\.git|node_modules|vendor\/bundle" -N'


alias pybrew='pythonbrew'

## 画像のプレビュー機能
alias ql='qlmanage -p "$@" >& /dev/null'

## pyenvのconfig warningを出さないようにするための設定
alias brew='env PATH=${PATH/${HOME}\/\.pyenv\/shims:/} brew'

## global ip
alias global_ipv4='curl inet-ip.info'
alias global_ipv4_2='curl httpbin.org/ip'
alias global_ipv6='curl http://v6.ident.me'

# }}}

# Shellのカラーコード {{{

alias shell-color-all='for fore in `seq 30 37`; do echo -e "\e[${fore}m \\\e[${fore}m \e[m"; for mode in 1 4 5; do; echo -en "\e[${fore};${mode}m \\\e[${fore};${mode}m \e[m"; for back in `seq 40 47`; do echo -en "\e[${fore};${back};${mode}m \\\e[${fore};${back};${mode}m \e[m"; done; echo; done; echo; done; echo " \\\e[m"'

# }}}

# docker command {{{

alias dk='docker'
alias dkc='dk compose'

# }}}
