[user]
	name = lion-man44
	email = lion44man@gmail.com
[alias]
	i = init
	conf = config
	s = status
	b = branch
	ba = branch -a
	f = fetch
	df = diff
	dfc = diff --cached
	g = grep
	remo = remote -v
	sh = show
	so = remote s origin
  st = stash
  stl = stash list
	ad = add
	ci = commit
	co = checkout
	l = log --graph
	lo = log origin
	la = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)― %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
	lp = log -p
[color]
	status = auto
	branch = auto
	diff = auto
	grep = auto
[pager]
  log = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less
[core]
	editor = vim
[merge]
	tool = vimdiff
[commit]
  template = ~/dotfiles/.git_commit_template
