[user]
  name = lion-man44
  email = amanttou44@gmail.com
[gui]
  tabsize = 2
[alias]
  i = init
  conf = config
  s = status
  b = branch
  ba = branch -a
  br = browse
  f = fetch
  df = diff
  dfc = diff --cached
  g = grep
  r = rebase
  sh = show
  st = stash
  stl = stash list
  ci = commit
  co = checkout
  sw = switch
  l = log --graph
  lo = log origin
  la = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)― %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
  lp = log --graph -p
[color]
  status = auto
  branch = auto
  diff = auto
  grep = auto
[pager]
  log = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less
[core]
  editor = vim
  quotepath = false
  pager = less
[merge]
  tool = vimdiff
  squash = true
[fetch]
  prune = true
[pull]
  rebase = true
[init]
  defaultBranch = main
[rebase]
  autosquash = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
